*{
margin: 0px;
padding: 0px;
}

body {
font-family: 'Asap', sans-serif;
background-color: #8478F7;
background-image: url("Expensa-background.png");
background-size: cover;
min-height: 100vh;
background-repeat: no-repeat;
} 
img{
	max-width: 100%;
}

#body-container{
display: flex;
flex-direction: column;
text-align:center;
padding: 15px 20px;
}

#logo{
width: 220px;
padding-top: 20px;

}

#phrase1{
text-align:center; 
font-size: 40px;
color: white;
font-weight: bold;
}

#phrase2{
	text-align: center;
	color: white;
	font-size: 19px;
	line-height: 1.62;

}
.buttons{
	display: flex;
	flex-direction: column;
}


#button1{
	height: 50px;
	margin-top: 20px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px solid hsl(204, 43%, 93%);
	border-style: hidden;
	font-size: 14px;
	padding-left: 15px;
	font-weight: lighter;
}
#button2{
	height: 50px;
	background-color: white;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 5px;
	box-shadow: 1px solid hsl(204, 43%, 93%);
	border-style: hidden;
	font-size: 11px;
	font-weight: 700;
	color: #8478F7;
	cursor: pointer;
}

#buttons2: hover {
	background-color:#8478F7;
}

 

#link{
color: white;
font-size: 17px;
font-weight: bold;
margin-top: 10px;

}

#icons{
	color :white;
	padding-top: 30px;  	 

}


#icon1{
	margin-right:30px;
}

#icon2{
	margin-left: 30px;
}

#footer{
	color: white;
	font-size: 15px;
	padding-top: 20px;
}




@media only screen and (min-width: 768px){
#body-container{
	padding: 0px 170px;
}
#logo{
	padding-top: 20px;
	text-align: center;
}

#phrase1 {
	font-size: 50px;
	
}


#phrase2 {
	text-align: center ; 
	font-size: 27px;

}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}


}
