*{
margin: 0px;
padding: 0px;
}

body {
font-family: 'Asap', sans-serif;
background-color: #8478F7;
background-image: url("Expensa-background.png");
background-size: cover;
min-height: 100vh;
background-repeat: no-repeat;
} 

#body-container{
display: flex;
flex-direction: column;
text-align: center;
padding: 0,10px;
}

#logo{
width: 220px;
padding-top: 20px;
}

#phrase1{
text-align:center; 
font-size: 35px;
padding: 10px 5px;
color: white;
font-weight: bold;
}

#phrase2{
	text-align: center;
	color: white;
	font-size: 17px;
	line-height: 1.62;

}
.buttons{
	display: flex;
	flex-direction: column;
}


#button1{
	width: 450px;
	height: 50px;
	margin-top: 20px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px solid hsl(204, 43%, 93%);
	border-style: hidden;
	font-size: 13px;
	font-weight: lighter;
}
#button2{
	width: 115px;
	height: 40px;
	background-color: white;
	margin-top: 20px;
	margin-left: 10px;
	border-radius: 4px;
	box-shadow: 1px solid hsl(204, 43%, 93%);
	border-style: hidden;
	font-size: 11px;
	font-weight: 700;
	color: #8478F7;
	cursor: pointer;
}

#buttons2: hover {
	background-color:#8478F7;
}

 

#link{
	color: white;
	font-size: 17px;
	font-weight: bold;


}




@media only screen and (min-width: 768px){
#body-container{
	align-content: center;
}
#logo{
	padding-top: 20px;
	width: 285px;
}

#phrase1 {
	padding-top: 35px;
	font-size: 50px;
	
}


#phrase2 {
	text-align: center ;
	padding: 0px 150px;
	font-size: 27px;

}

.button{
	
}


}
